@tailwind base;
@tailwind components;
@tailwind utilities;



body.no-page-scroll {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}


input,
textarea,
select {
    font-size: 16px !important;
}